* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'segoe UI', Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* -----HEADER SECTION STYLE */

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #000;
    border-bottom: 2px solid #d1cfcf;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* logo */
.logo {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

/* nav links */
.nav-links > li > a {
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
}
.nav-links > li > a:hover {
    border-bottom: 1px solid #ebe9e9;
}
/* nav dropdown */
.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
}
.dropdown-menu {
    display: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
}
.dropdown-menu > li > a:hover {
    background-color: #ebe9e9;
    color: #000;
}

.dropdown:hover .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    background-color: #000;
    gap: 10px;
    padding: 15px 10px 15px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* buttons */
.button {
    font-family: inherit;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.header-cta {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: 600;
}
.header-cta:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}
